# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars.json

# Keep terraform.tfvars tracked (it contains no secrets)
!terraform.tfvars

